In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
row = range(5)
S1 = [1,0,0,1,0]
S2 = [0,0,1,0,0]
S3 = [0,1,0,1,1]
S4 = [1,0,1,1,0]
h1 = [(x+1) % 5 for x in row]
h2 = [(3*x+1) %5 for x in row]
h3 = [(2*x+4) %5 for x in row]
h4 = [(3*x-1) %5 for x in row]
mydf = pd.DataFrame({'Row':pd.Series(row),
                     'S1':pd.Series(S1),
                     'S2':pd.Series(S2),
                     'S3':pd.Series(S3),
                     'S4':pd.Series(S4),
                     'h1':pd.Series(h1),
                     'h2':pd.Series(h2),
                     'h3':pd.Series(h3),
                     'h4':pd.Series(h4)})

In [63]:
print mydf.to_string(index=False)

 Row  S1  S2  S3  S4  h1  h2  h3  h4
   0   1   0   0   1   1   1   4   4
   1   0   0   1   0   2   4   1   2
   2   0   1   0   1   3   2   3   0
   3   1   0   1   1   4   0   0   3
   4   0   0   1   0   0   3   2   1

In [64]:
def minhash(df,colname):
    S_df = df.loc[df[colname]==1,['Row','h1','h2','h3','h4']]
    S_minhash = list(S_df.min())[1:]
    return S_df,S_minhash

S1_df,S1_minhash = minhash(mydf,'S1')
print S1_df.to_string(index=False),"\n------------\n\t",S1_minhash

 Row  h1  h2  h3  h4
   0   1   1   4   4
   3   4   0   0   3
------------
	[1, 0, 0, 3]

In [65]:
S2_df,S2_minhash = minhash(mydf,'S2')
print S2_df.to_string(index=False),"\n------------\n\t",S2_minhash

 Row  h1  h2  h3  h4
   2   3   2   3   0
------------
	[3, 2, 3, 0]

In [66]:
S3_df,S3_minhash = minhash(mydf,'S3')
print S3_df.to_string(index=False),"\n------------\n\t",S3_minhash

 Row  h1  h2  h3  h4
   1   2   4   1   2
   3   4   0   0   3
   4   0   3   2   1
------------
	[0, 0, 0, 1]

In [67]:
S4_df,S4_minhash = minhash(mydf,'S4')
print S4_df.to_string(index=False),"\n------------\n\t",S4_minhash

 Row  h1  h2  h3  h4
   0   1   1   4   4
   2   3   2   3   0
   3   4   0   0   3
------------
	[1, 0, 0, 0]

In [69]:
minhash_df = pd.DataFrame({'':pd.Series(['mh1','mh2','mh3','mh4']),
                     'S1':pd.Series(S1_minhash),
                     'S2':pd.Series(S2_minhash),
                     'S3':pd.Series(S3_minhash),
                     'S4':pd.Series(S4_minhash)})
minhash_df

        S1  S2  S3  S4
0  mh1   1   3   0   1
1  mh2   0   2   0   0
2  mh3   0   3   0   0
3  mh4   3   0   1   0

We can see that SIM($S_1$,$S_2$)=3/4